{# templates/rdv/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit RDV{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Edit RDV</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary mt-3">Update RDV</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
